<div class="bg">
    <div nz-row class="center">
        <div nz-col nzSpan="8" nzOffset="8">
            <nz-card class="shadow-lg ant-card-bordered">
                <div nz-row class="logo">
                    <div nz-col nzSpan="12" nzOffset="8">
                        <h3 nz-typography>Reqstar Sign Up</h3>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col class="or-block">
                        <button nz-button class="btn-width" [nzSize]="'large'" nzType="default"
                            (click)="socialSignIn('google')">
                            <img src="assets/images/google.svg" class="google-icon" />
                            Continue with Google</button>
                    </div>
                    <div nz-col nzSpan="8" nzOffset="12" class="or-block">
                        <span class="or">OR</span>
                    </div>
                </div>
                <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" class="login-form"
                    (ngSubmit)="submitForm()">
                    <nz-form-item class="pad-4">
                        <nz-form-label class="label" nzRequired>Email</nz-form-label>
                        <nz-form-control nzErrorTip="Please enter a valid email">
                            <nz-input-group nzSize="large" nzPrefixIcon="mail">
                                <input type="text" nz-input formControlName="email" placeholder="Email" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="pad-4">
                        <nz-form-label class="label" nzRequired>Username</nz-form-label>
                        <nz-form-control nzErrorTip="Please enter your username">
                            <nz-input-group nzSize="large" nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="userName" placeholder="Username" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="pad-4">
                        <nz-form-label class="label" nzRequired>Password</nz-form-label>
                        <nz-form-control nzErrorTip="Password should be min 6 letters">
                            <nz-input-group nzSize="large" nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password" placeholder="Password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <div nz-row class="signup-row">
                        <div nz-col>
                            <button nz-button class="btn-width" [nzSize]="'large'" [nzLoading]="isLoading"
                                nzType="primary">Sign Up</button>
                        </div>
                        <!-- [disabled]="!validateForm.valid" -->
                    </div>

                </form>
            </nz-card>
        </div>
    </div>
</div>