<div class="bg">
    <div nz-row class="center">
        <div nz-col nzSpan="8" nzOffset="8">
            <nz-card class="shadow-lg ant-card-bordered">
                <div nz-row class="logo">
                    <div nz-col nzSpan="12" nzOffset="8">
                        <h3 nz-typography>Reqstar Login</h3>
                    </div>
                </div>
                <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" class="login-form"
                    (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label class="label" nzRequired>Username</nz-form-label>
                        <nz-form-control nzErrorTip="Please enter your username">
                            <nz-input-group nzSize="large" nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="userName" placeholder="Username" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label class="label" nzRequired>Password</nz-form-label>
                        <nz-form-control nzErrorTip="Please enter your password">
                            <nz-input-group nzSize="large" nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password" placeholder="Password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <div nz-row class="signup-row">
                        <div nz-col nzSpan="18" class="text" (click)="gotoSignUp()">
                            <span>Don't have an account? <a> Signup</a></span>
                        </div>
                        <div nz-col nzSpan="6">
                            <button nz-button class="btn-width" [nzSize]="'large'" [nzLoading]="isLoading"
                                nzType="primary">Login</button>
                            <!-- [disabled]="!validateForm.valid" -->
                        </div>
                    </div>

                </form>
            </nz-card>
        </div>
    </div>
</div>