.outer-content {
    background-color: #f9fbfd;
    height: 92vh;
    margin-top: 50px;
}
.list{
    font-size: 16px;
    font-weight: 500;
    color: #272727;
    height: 90vh;
    border-right: 1px solid #e8e8e8;
}
.list-item{
    padding-left: 50px;
    padding-top: 10px;
    height: 42px;
    cursor: pointer;
}
.m-top-20{
    margin-top: 20px;;
}
.list-text{
    padding-left: 8px;
}
.team-wrap{
    font-size: 14px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
}
.team-icon{
    font-size: 16px;
    margin-top: 3px;
    width: 24px;
    cursor: pointer;
}
.board-warpper{
    height: 92vh;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
}
.menu-item-selected {
    background-color: #e6f7ff;
    border-right: 5px solid #1890ff;
}
.inline{
    display: inline;
    font-size: 15px;
    padding-left: 6px;
}
.card-heading{
    margin-bottom: 10px;
    // padding-left: 10px;
}
.card-head-icon{
    font-size: 16px;
}
.card-wrap{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.card-loader{
    height: 50px;
    border-radius: 3px;
    margin-top: 20px;
}
.add-card{
    background-color: rgba(9,30,66,.08);
    box-shadow: none;
    border: none;
    color: #172b4d;
}
.card{
    margin-top:8px
}
.card-text{
    font-size: 15px;
    font-weight: 500;
    width: 170px;
    height: 62px;
    overflow: hidden;
    display: inline-block;
    padding-left: 10px;
}
.card-btn-ex:hover{
    background: white;
    color: #636363;
    border-color: #636363;
    
}
.card-btn{
    background: #9E9E9E;
    color: white;
    top: -48px;
    border-color: #9E9E9E;
    visibility:hidden;
}
.align-center-div{
    text-align: center;
}
.align-center-text{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.m-top-10{
    margin-top: 10px;
}
.board{
    background-color: #e6f7ff;
    border-radius: 3px;
    display: inline-block !important;
    color: #000000;
    table-layout: fixed;
    width: 200px;
    height: 80px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #94e9f4;
}
.board:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    //transform: scale(1.1);
}
.board:hover .card-btn{
    visibility:visible;
}
.create-card{
    background-color: #eeeeee;
    color: #0a1335;
    border: 1px solid #c7c7c7;
}
.create-card-btn{
    background: #9E9E9E;
    color: white;
    top: -48px;
    border-color: #9E9E9E;
}
.board-add-icon{
    font-size: 12px;
    background: #9E9E9E;
    color: white;
    border-color: #9E9E9E;
    width: 20px;
    height: 20px;
}
.hold-btn{
    height: 30px;
    width: 30px;
    right: 3px;
    top: -5px;
    background-color: #ebecf0;
    border: none;
}
.hold-btn:hover{
    border: none;
    color: rgba(9,30,66,.08);
    background-color: rgba(9,30,66,.08);
}
.textarea{
    height: 45px;
}
.add-card-button{
    margin-left: 5px;
    font-size: 12px;
}
.add-card-close{
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}
.loader-wrap{
    display: flex;
    align-items: center;
    background-color: white;
    height: 92vh;
}
.loader-icon{
    margin: 0 auto;
}