<nz-layout>
    <app-header></app-header>
    <nz-content class="outer-content">
        <div nz-row>
            <div nz-col nzSpan="5" class="list">
                <div class="list-item m-top-20 menu-item-selected">
                    <i nz-icon class="list-icon" nzType="layout" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Boards</span>
                </div>
                <div class="list-item">
                    <i nz-icon class="list-icon" nzType="setting" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Settings</span>
                </div>
                <nz-divider></nz-divider>
                <div class="team-wrap">
                    <span nz-typography>TEAMS</span>
                    <i nz-icon nzType="plus" *ngIf="hasTeams" class="team-icon" nzTheme="outline"></i>
                </div>
                <div class="list-item">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Create a team</span>
                </div>
                <div class="list-item" *ngIf="hasTeams">
                    <i nz-icon class="list-icon" nzType="usergroup-add" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Front End</span>
                </div>
            </div>
            <div nz-col nzSpan="19" class="board-warpper">
                <div class="card-heading">
                    <i nz-icon nzType="user" class="card-head-icon" nzTheme="outline"></i>
                    <h4 class="inline" nz-typography>Personal Boards</h4>
                    <i nz-icon nzType="plus" nzTheme="outline" class="board-add-icon"></i>
                </div>
                <div *ngFor="let board of [1]" class="board" [ngClass]="{'create-card' : true}">
                    <!-- <div class="card">
                        <span class="card-text">Shinchan</span>
                        <button class="card-btn" nz-button nzType="primary" [nzSize]="'small'"><i nz-icon nzType="edit"
                                nzTheme="outline"></i></button>
                    </div> -->
                    <!-- <div class="card">
                        <nz-skeleton [nzTitle]="false" [nzParagraph]="{ rows: 2, width: 100 }" [nzActive]="true"
                            class="card-loader">
                        </nz-skeleton>
                    </div> -->
                    <div class="card" (click)="gotoBoard()">
                        <span class="card-text">Create a board</span>
                        <button class="create-card-btn" nz-button nzType="primary" [nzSize]="'small'"><i nz-icon
                                nzType="plus" nzTheme="outline"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>