<nz-layout>
    <app-header></app-header>
    <nz-content class="outer-content">
        <div nz-row>
            <div nz-col nzSpan="5" class="list">
                <div class="list-item m-top-20 menu-item-selected">
                    <i nz-icon class="list-icon" nzType="layout" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Boards</span>
                </div>
                <div class="list-item" style="cursor: not-allowed;">
                    <i nz-icon class="list-icon" nzType="setting" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Settings</span>
                </div>
                <nz-divider></nz-divider>
                <div class="team-wrap">
                    <span nz-typography>TEAMS</span>
                    <i nz-icon nzType="plus" *ngIf="hasTeams" class="team-icon" nzTheme="outline"></i>
                </div>
                <div class="list-item" style="cursor: not-allowed;">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Create a team</span>
                </div>
                <div class="list-item" *ngIf="hasTeams">
                    <i nz-icon class="list-icon" nzType="usergroup-add" nzTheme="outline"></i>
                    <span class="list-text" nz-typography>Front End</span>
                </div>
            </div>
            <div nz-col nzSpan="19" class="board-warpper" *ngIf="!isLoading">
                <div class="card-heading">
                    <i nz-icon nzType="user" class="card-head-icon" nzTheme="outline"></i>
                    <h4 class="inline" nz-typography>Personal Boards</h4>
                    <button *ngIf="boardList.length && disableNewBoard" (click)="newBoard($event)"
                        class="board-add-icon" nz-button nzType="primary" [nzSize]="'small'"><i nz-icon nzType="plus"
                            nzTheme="outline"></i></button>
                </div>
                <div *ngFor="let board of boardList; let boardIndex = index;" class="board">
                    <div class="card" *ngIf="!board.untouched">
                        <span class="card-text" (click)="loadBoard(board)">{{board.title}}</span>
                        <button (click)="editBoard($event, board,boardIndex)" class="card-btn" nz-button
                            nzType="primary" [nzSize]="'small'"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                    </div>
                    <div *ngIf="board.untouched">
                        <form [formGroup]="createBoard" (ngSubmit)="addNewBoard(board)">
                            <textarea #addBoardInput class="textarea" rows="2" type="text" nz-input
                                placeholder="Enter a title for this board..." formControlName="boardName"></textarea>
                            <div>
                                <button nz-button class="add-card-button" [nzSize]="'small'" nzType="primary"
                                    [disabled]="!createBoard.valid" [nzLoading]="createBoardLoading">Add</button>
                                <i nz-icon class="add-card-close" nzType="close" nzTheme="outline"
                                    (click)="cancelBoard(boardList)"></i>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="card">
                        <nz-skeleton [nzTitle]="false" [nzParagraph]="{ rows: 2, width: 100 }" [nzActive]="true"
                            class="card-loader">
                        </nz-skeleton>
                    </div> -->
                </div>
                <div class="board create-card" *ngIf="boardList.length == 0" (click)="newBoard($event)">
                    <div class="card">
                        <span class="card-text">Create a board</span>
                        <button class="create-card-btn" nz-button nzType="primary" [nzSize]="'small'"><i nz-icon
                                nzType="plus" nzTheme="outline"></i></button>
                    </div>
                </div>
            </div>
            <div class="loader-wrap" *ngIf="isLoading">
                <nz-spin class="loader-icon" nzSimple [nzSize]="'large'"></nz-spin>
            </div>
        </div>
    </nz-content>
</nz-layout>