.btn-label{
    font-size: 18px;
    font-weight: 500;
    margin: 15px;
}
.margin-btm{
    margin-bottom: 10px;
}
.action-btn{
    display: inline-flex;
    margin-left: 125px;
}

.card-content{
    width: 240px;
    font-size: 1em;
    line-height: 1.45;
    font-weight: normal;
    letter-spacing: 0.005em;
    padding-top: 8px;
    padding-left: 8px;
}
.card-ellipse{
    margin-top: 24px;
}
.card-text-wrap{
    display: block;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
}
.card-text{
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.card-speaker{
    display: block;
    padding-top: 10px;
}
.date-warp{
    position: relative;
    color: #f50000;
    border-radius: 5px;
    background: #f4433661;
    padding-left: 5px;
    display: inline-block;
    padding-right: 5px;
}
.date-icon{
    position: absolute;
    top: 4px;
    font-size: 12px;
}
.date{
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
}

.speaker-wrap{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 400;
    width: 240px;
}
.card-status{
    color: green;
    background-color: #00800070;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
.speaker{
    color: #673AB7;
    background-color: #673ab770;
    padding: 2px 6px 2px 6px;
    margin-left: 10px;
    border-radius: 5px;
}
.btn-back{
    background-color: #3f51b5;
    color: white;
    float: right;
    margin-right: 20px;
}

.btn {
  transition: transform .3s ease-out;
}
.btn:hover {
  transform: translate(30px, 0);
  width: 340px;
}

// NEW CSS

.node-item{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    position: relative;
    cursor: pointer;
}

.node-item:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.child-item-wrap{
    // margin-left: 230px;
    // width: 250px;
}
.first-child{
    margin-top: -103px;
}

.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-preview {
    opacity: 0.8; 
}

.drop-inside {
    border: 2px dashed rgb(98, 0, 255);
}

.drop-before {
    border-top: 5px solid rgb(98, 0, 255);
}

.drop-after {
    border-bottom: 5px solid rgb(98, 0, 255);
}

.node-title {
    // position: relative;
}

.node-children {
    margin-left: 280px;
    width: 250px;
}
.item-notes { 
  margin-left:20px;
  color:#aaa;
 }

//  Custom 
.card-holder{
    position: relative;
    overflow-x:scroll;
    display:Block;
    white-space: nowrap;
    height: 90vh;
    margin-left: 15px;
    margin-top: 8px;
}

.holder{
    display:inline-block;
    position: absolute;
    width: 270px;
    background-color: #ebecf0;
    border-radius: 3px;
}

.planner-wrapper{
    position: absolute;
    top: 42px;
}

.item-wrap{
    width: 250px;
    margin-left: 10px;
}
.holder-heading{
    padding-left: 10px;
    padding-top: 10px;
    color: #172b4d;
    display: inline-block;
    width: 240px;
}
.inline-add-card{
    color: #172b4d;
    font-size: 18px;
    margin-top: 4px;
}
.hold-btn{
    height: 30px;
    width: 30px;
    right: 3px;
    background-color: #ebecf0;
    border: none;
}
.hold-btn:hover{
    border: none;
    color: rgba(9,30,66,.08);
    background-color: rgba(9,30,66,.08);
}
.inline-add-card:hover{
    background-color: rgba(9,30,66,.08);
}
.create-card{
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
    padding:10px;
    color: #172b4d;
    margin-right: 10px;
}
.create-card:hover{
    background-color: rgba(9,30,66,.08);
}
.create-card-icon{
    margin-right: 10px;
}
.add-card-btn{
    position: absolute;
    visibility: hidden;
    left: 93%;
    top: 35%;
    background: #9E9E9E;
    border-color: #9E9E9E;
}
.node-item:hover .add-card-btn{
    visibility: visible;
}
.add-new-card{
    height: 90px;
}

.add-card-button{
    margin-left: 5px;
    font-size: 12px;
    margin-top: 3px;
}
.add-card-close{
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}
.loader-wrap{
    display: flex;
    align-items: center;
    background-color: white;
    height: 92vh;
}
.loader-icon{
    margin: 0 auto;
}
.loader-wrap{
    display: flex;
    align-items: center;
    background-color: white;
    height: 90vh;
}
.loader-icon{
    margin: 0 auto;
}
.m-t-5{
    margin-top: 5px;
}