<div id="card-wrapper" [ngStyle]="{'width': innerWidth+'px'}">
    <!-- <div style="padding-top: 10px; margin-bottom: 10px">
        <span class="btn-label">Create Workflow :</span>
        <button style="background-color:#3f51b5; color: white" mat-raised-button (click)="newCard(boards)"
            [disabled]="isLoading">
            Add New Epic
        </button>
        <button class="btn-back" mat-raised-button (click)="export()">
            Back to Boards
        </button>
    </div> -->
    <!-- New Update -->

    <ng-template #tmplNode let-node="node" let-lastIndex="lastIndex" let-nodes="nodes" let-nodeIndex="nodeIndex">
        <div class="node-item" [ngStyle]="{'margin-bottom' : lastIndex ? '0px' : '8px'}" [attr.data-id]="node.id"
            [attr.id]="'node-'+node.id">
            <!-- Card Design -->
            <div class="node-title" *ngIf="!node.untouched" (click)="editCard($event, node, nodes,nodeIndex)">
                <button class="add-card-btn" nz-button nzType="primary" [nzSize]="'small'" nzShape="circle"
                    (click)="addCard($event, node, nodes,nodeIndex)">
                    <i nz-icon nzType="right" nzTheme="outline"></i></button>
                <div class="card-content">
                    <div class="card-text-wrap">
                        <span class="card-text">{{node.title}}</span>
                        <!-- <span class="card-ellipse">...</span> -->
                    </div>
                    <div class="date-warp">
                        <i nz-icon class="date-icon" nzType="clock-circle" nzTheme="outline"></i>
                        <span class="date">{{node?.selectedDate | dayMonth}}</span>
                    </div>
                    <div class="speaker-wrap">
                        <span class="card-status">{{node?.status | uppercase}}</span>
                        <span class="speaker" *ngIf="node.author">{{node.author}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="node.untouched" class="add-new-card">
                <form [formGroup]="createCard" (ngSubmit)="addNewCard(node)">
                    <textarea #addCardInput rows="2" type="text" nz-input placeholder="Enter a title for this card..."
                        formControlName="cardName"></textarea>
                    <div>
                        <button nz-button class="add-card-button" [nzSize]="'small'" nzType="primary"
                            [disabled]="!createCard.valid" [nzLoading]="createCardLoading">Add</button>
                        <i nz-icon class="add-card-close" nzType="close" nzTheme="outline"
                            (click)="cancelCard(nodes)"></i>
                    </div>
                </form>
            </div>
            <!-- Card Design -->
            <div *ngIf="node.talks.length" class="node-children" cdkDropList [cdkDropListData]="node.talks"
                [id]="node.id" [cdkDropListConnectedTo]="dropTargetIds" (cdkDropListDropped)="drop($event)"
                [cdkDropListSortingDisabled]="true">

                <div [ngClass]="{'first-child': firstIndex}"
                    *ngFor="let child of node.talks; let nodeIndex = index; let firstIndex = first; let lastIndex = last"
                    cdkDrag vsDragScroll [vsDragScrollContainer]="containerScroll" [cdkDragData]="child.id"
                    (cdkDragMoved)="dragMoved($event)">
                    <ng-container
                        *ngTemplateOutlet="tmplNode,context:{node:child, nodes:node.talks, nodeIndex: nodeIndex, lastIndex:lastIndex}">
                    </ng-container>
                </div>

            </div>

        </div>
    </ng-template>

    <!-- Blocks -->
    <div class="card-holder" #containerScroll *ngIf="!isLoading">
        <ng-container *ngIf="boards.talks.length">
            <div class="holder" *ngFor="let holder of cardHolder; let holderIndex = index; let firstIndex = first;"
                [ngStyle]="{'margin-left': firstIndex ? '0px': (280 *  holderIndex)+'px', 'height' : cardHolderHeight}">
                <div [ngStyle]="{'margin-top': firstIndex ? '0px' : '5px'}">
                    <app-inline-edit [data]='holder' (focusOut)='inlineEditHolder($event)'></app-inline-edit>
                    <!-- <h3 class="holder-heading">{{holder}}</h3> -->
                    <button *ngIf="disableNewCard && firstIndex" nz-button nzType="default" [nzSize]="'small'"
                        class="hold-btn" (click)="newCard(boards)"><i nz-icon nzType="plus-square" nzTheme="outline"
                            class="inline-add-card"></i></button>
                </div>
            </div>
        </ng-container>


        <div cdkDropList [cdkDropListData]="this.boards.talks" [id]="'main'" [cdkDropListConnectedTo]="dropTargetIds"
            (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="true" class="planner-wrapper">

            <div class="item-wrap"
                *ngFor="let node of this.boards.talks, let nodeIndex = index; let firstIndex = first; let lastIndex = last"
                cdkDrag vsDragScroll [vsDragScrollContainer]="containerScroll" [cdkDragData]="node.id"
                (cdkDragMoved)="dragMoved($event)">

                <ng-container
                    *ngTemplateOutlet="tmplNode,context:{node:node,nodes:this.boards.talks, nodeIndex:nodeIndex, firstIndex: firstIndex, lastIndex: lastIndex}">
                </ng-container>

            </div>
        </div>

        <!-- New Update -->
        <div *ngIf="isLoading">
            <img class="card-loader" src="assets/images/loader.gif" />
        </div>
        <div *ngIf="!boards.talks.length && !isLoading">
            <!-- <span class="no-board">No Cards to display</span> -->
            <div class="card-holder">
                <div class="holder" *ngFor="let holder of ['Column 1']" style="height: 100px;">
                    <div>
                        <!-- <app-inline-edit [data]='holder' (focusOut)='inlineEditHolder($event)'></app-inline-edit> -->
                        <h3 class="holder-heading">{{holder}}</h3>
                        <!-- <button nz-button nzType="default" [nzSize]="'small'" class="hold-btn"><i nz-icon
                                nzType="plus-square" nzTheme="outline" class="inline-add-card"></i></button> -->
                    </div>
                    <div class="create-card" (click)="newCard(boards)">
                        <i nz-icon nzType="plus" nzTheme="outline" class="create-card-icon"></i>
                        <span>Add a card</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Blocks  -->
    <div class="loader-wrap" *ngIf="isLoading">
        <nz-spin class="loader-icon" nzSimple [nzSize]="'large'"></nz-spin>
    </div>
</div>